@tailwind base;
@tailwind components;
@tailwind utilities;

.hexagon {
    position: relative;
    width: 110px;
    /* Ancho del hexágono */
    height: 65px;
    /* Altura del hexágono */
    background-color: #4ade80;
    /* Color de fondo del hexágono */
    margin: 50px auto;
}

.hexagon::before,
.hexagon::after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 55px solid transparent;
    /* Mitad del ancho del hexágono */
    border-right: 55px solid transparent;
    /* Mitad del ancho del hexágono */
}

.hexagon::before {
    bottom: 100%;
    border-bottom: 32.5px solid #4ade80;
    /* Mitad de la altura del hexágono */
}

.hexagon::after {
    top: 100%;
    border-top: 32.5px solid #4ade80;
    /* Mitad de la altura del hexágono */
}